.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-group-1 {
  width: 1757px;
  min-height: 109px;
  margin: -11px -308px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 14px 30px 27px;
}

.u-section-1 .u-btn-1 {
  font-size: 1.125rem;
  background-image: none;
  border-style: none;
  margin: 26px auto 0 624px;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  font-size: 1.125rem;
  border-style: none;
  margin: -26px auto 0 726px;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  font-size: 1.125rem;
  border-style: none;
  margin: -25px 578px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  font-size: 1.125rem;
  border-style: none;
  margin: -24px 748px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: -25px 1104px 0 42px;
}

.u-section-1 .u-btn-5 {
  padding: 0;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -37px 30px 0 auto;
  padding: 14px 30px;
}

.u-section-1 .u-icon-2 {
  height: 36px;
  width: 36px;
  margin: -42px auto 0 6px;
}

.u-section-1 .u-icon-3 {
  height: 30px;
  width: 30px;
  margin: -35px 687px 0 auto;
}

.u-section-1 .u-icon-4 {
  height: 19px;
  width: 19px;
  margin: -22px 815px 0 auto;
}

.u-section-1 .u-icon-5 {
  height: 18px;
  width: 18px;
  margin: -22px auto 0 708px;
}

.u-section-1 .u-icon-6 {
  height: 18px;
  width: 18px;
  margin: -15px auto 0 605px;
}

.u-section-1 .u-image-1 {
  width: 137px;
  height: 137px;
  background-image: url("images/Capture.PNG");
  background-position: 50% 50%;
  margin: 204px auto 0 214px;
}

.u-section-1 .u-image-2 {
  width: 137px;
  height: 137px;
  background-image: url("images/Capture1.PNG");
  background-position: 50% 50%;
  margin: -137px auto 0 405px;
}

.u-section-1 .u-image-3 {
  width: 137px;
  height: 137px;
  background-image: url("images/asfaw.PNG");
  background-position: 50% 50%;
  margin: -137px auto 0 598px;
}

.u-section-1 .u-image-4 {
  width: 137px;
  height: 137px;
  background-image: url("images/adawffwf.PNG");
  background-position: 50% 50%;
  margin: -137px auto 0 789px;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 12px auto 0 217px;
  padding: 6px 4px 6px 3px;
}

.u-section-1 .u-btn-8 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -37px auto 0 426px;
  padding: 6px 4px 6px 3px;
}

.u-section-1 .u-btn-9 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -37px auto 0 597px;
  padding: 6px 4px 6px 3px;
}

.u-section-1 .u-btn-10 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -37px auto 0 800px;
  padding: 6px 4px 6px 3px;
}

.u-section-1 .u-btn-11 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 12px auto 0 214px;
  padding: 8px 19px 8px 18px;
}

.u-section-1 .u-btn-12 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -37px auto 0 405px;
  padding: 8px 19px 8px 18px;
}

.u-section-1 .u-btn-13 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -37px auto 0 598px;
  padding: 8px 19px 8px 18px;
}

.u-section-1 .u-btn-14 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -37px auto 0 789px;
  padding: 8px 19px 8px 18px;
}

.u-section-1 .u-btn-15 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 12px auto 0 235px;
  padding: 8px 30px 8px 29px;
}

.u-section-1 .u-btn-16 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -35px auto 0 428px;
  padding: 8px 30px 8px 29px;
}

.u-section-1 .u-btn-17 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -35px auto 0 618px;
  padding: 8px 30px 8px 29px;
}

.u-section-1 .u-btn-18 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -35px auto 60px 812px;
  padding: 8px 30px 8px 29px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -12px;
    margin-left: 180px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 282px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 93px;
    margin-left: 34px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -69px;
    margin-right: 245px;
    margin-left: 83px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -171px;
    margin-right: 722px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -1456px;
    margin-right: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 949px;
  }

  .u-section-1 .u-icon-3 {
    height: 29px;
    width: 29px;
    margin-top: 735px;
    margin-right: 684px;
  }

  .u-section-1 .u-icon-6 {
    height: 25px;
    width: 25px;
    margin-top: 286px;
    margin-left: 593px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 17px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 226px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 397px;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 600px;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 14px;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 205px;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 398px;
  }

  .u-section-1 .u-btn-14 {
    margin-left: 589px;
  }

  .u-section-1 .u-btn-15 {
    margin-left: 35px;
  }

  .u-section-1 .u-btn-16 {
    margin-left: 228px;
  }

  .u-section-1 .u-btn-17 {
    margin-left: 418px;
  }

  .u-section-1 .u-btn-18 {
    margin-left: 612px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 62px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 25px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 612px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 631px;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 641px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 642px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 583px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 583px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 6px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 177px;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 380px;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 178px;
  }

  .u-section-1 .u-btn-14 {
    margin-left: 369px;
  }

  .u-section-1 .u-btn-15 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-16 {
    margin-left: 8px;
  }

  .u-section-1 .u-btn-17 {
    margin-left: 198px;
  }

  .u-section-1 .u-btn-18 {
    margin-left: 392px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 522px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -1556px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 491px;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 501px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 502px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 495px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 403px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 403px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 403px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 200px;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-14 {
    margin-left: 189px;
  }

  .u-section-1 .u-btn-16 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-17 {
    margin-left: 18px;
  }

  .u-section-1 .u-btn-18 {
    margin-left: 212px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 422px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -744px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 311px;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 301px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 302px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 295px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 203px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 203px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 203px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 203px;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-14 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-17 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-18 {
    margin-left: 12px;
  }
}