.u-section-1 .u-sheet-1 {
  min-height: 1030px;
}

.u-section-1 .u-group-1 {
  width: 1757px;
  min-height: 109px;
  margin: -10px -308px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 14px 30px 27px;
}

.u-section-1 .u-btn-1 {
  font-size: 1.125rem;
  background-image: none;
  border-style: none;
  margin: 26px auto 0 624px;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  font-size: 1.125rem;
  border-style: none;
  margin: -26px auto 0 726px;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  font-size: 1.125rem;
  border-style: none;
  margin: -25px 578px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  font-size: 1.125rem;
  border-style: none;
  margin: -24px 748px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: -25px 1104px 0 42px;
}

.u-section-1 .u-btn-5 {
  padding: 0;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -37px 30px 0 auto;
  padding: 14px 30px;
}

.u-section-1 .u-icon-2 {
  height: 36px;
  width: 36px;
  margin: -42px auto 0 6px;
}

.u-section-1 .u-icon-3 {
  height: 30px;
  width: 30px;
  margin: -35px 687px 0 auto;
}

.u-section-1 .u-icon-4 {
  height: 19px;
  width: 19px;
  margin: -22px 815px 0 auto;
}

.u-section-1 .u-icon-5 {
  height: 18px;
  width: 18px;
  margin: -22px auto 0 708px;
}

.u-section-1 .u-icon-6 {
  height: 18px;
  width: 18px;
  margin: -15px auto 0 605px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 44px;
  margin: 54px auto 0;
}

.u-section-1 .u-image-2 {
  width: 137px;
  height: 137px;
  background-image: url("images/Project-Infinty.webp");
  background-position: 50% 50%;
  margin: 82px auto 0 227px;
}

.u-section-1 .u-image-3 {
  width: 137px;
  height: 137px;
  background-image: url("images/antaresbeta.webp");
  background-position: 50% 50%;
  margin: -137px auto 0 432px;
}

.u-section-1 .u-image-4 {
  width: 137px;
  height: 137px;
  background-image: url("images/lucky.webp");
  background-position: 50% 50%;
  margin: -137px 367px 0 auto;
}

.u-section-1 .u-image-5 {
  width: 137px;
  height: 137px;
  background-image: url("images/novihacks.webp");
  background-position: 50% 50%;
  margin: -137px 161px 0 auto;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 12px auto 0 213px;
  padding: 5px 7px 7px 5px;
}

.u-section-1 .u-btn-8 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -37px 570px 0 auto;
  padding: 5px 7px 7px 5px;
}

.u-section-1 .u-btn-9 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -37px auto 0 637px;
  padding: 5px 7px 7px 5px;
}

.u-section-1 .u-btn-10 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -37px 170px 0 auto;
  padding: 5px 7px 7px 5px;
}

.u-section-1 .u-btn-11 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 15px auto 0 226px;
  padding: 8px 19px 8px 18px;
}

.u-section-1 .u-btn-12 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -37px auto 0 432px;
  padding: 8px 19px 8px 18px;
}

.u-section-1 .u-btn-13 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -37px auto 0 636px;
  padding: 8px 19px 8px 18px;
}

.u-section-1 .u-btn-14 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -37px 161px 0 auto;
  padding: 8px 19px 8px 18px;
}

.u-section-1 .u-btn-15 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 12px auto 0 248px;
  padding: 8px 30px 8px 29px;
}

.u-section-1 .u-btn-16 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -35px auto 0 447px;
  padding: 8px 30px 8px 29px;
}

.u-section-1 .u-btn-17 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -35px 388px 0 auto;
  padding: 8px 30px 8px 29px;
}

.u-section-1 .u-btn-18 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -35px 182px 0 auto;
  padding: 8px 30px 8px 29px;
}

.u-section-1 .u-image-6 {
  width: 137px;
  height: 137px;
  background-image: url("images/zapped.webp");
  background-position: 50% 50%;
  margin: 50px auto 0 213px;
}

.u-section-1 .u-image-7 {
  width: 137px;
  height: 137px;
  background-image: url("images/SpyExternal.webp");
  background-position: 50% 50%;
  margin: -137px auto 0 439px;
}

.u-section-1 .u-image-8 {
  width: 137px;
  height: 137px;
  background-image: url("images/DeadlyCheats.webp");
  background-position: 50% 50%;
  margin: -137px auto 0 636px;
}

.u-section-1 .u-image-9 {
  width: 137px;
  height: 137px;
  background-image: url("images/insanitycheats.webp");
  background-position: 50% 50%;
  margin: -137px auto 0 842px;
}

.u-section-1 .u-btn-19 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 12px auto 0 230px;
  padding: 5px 7px 7px 5px;
}

.u-section-1 .u-btn-20 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -37px 565px 0 auto;
  padding: 5px 7px 7px 5px;
}

.u-section-1 .u-btn-21 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -37px auto 0 630px;
  padding: 5px 7px 7px 5px;
}

.u-section-1 .u-btn-22 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -37px auto 0 828px;
  padding: 5px 7px 7px 5px;
}

.u-section-1 .u-btn-23 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 12px 790px 0 auto;
  padding: 8px 19px 8px 18px;
}

.u-section-1 .u-btn-24 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -37px auto 0 439px;
  padding: 7px 19px 9px 18px;
}

.u-section-1 .u-btn-25 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -37px 367px 0 auto;
  padding: 7px 19px 9px 18px;
}

.u-section-1 .u-btn-26 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -37px auto 0 842px;
  padding: 7px 19px 9px 18px;
}

.u-section-1 .u-btn-27 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 12px auto 0 226px;
  padding: 8px 30px 8px 29px;
}

.u-section-1 .u-btn-28 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -35px auto 0 459px;
  padding: 8px 30px 8px 29px;
}

.u-section-1 .u-btn-29 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -35px 386px 0 auto;
  padding: 8px 30px 8px 29px;
}

.u-section-1 .u-btn-30 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -35px 183px 60px auto;
  padding: 8px 30px 8px 29px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -12px;
    margin-left: 180px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 282px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 93px;
    margin-left: 34px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -69px;
    margin-right: 245px;
    margin-left: 83px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -171px;
    margin-right: 722px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -1456px;
    margin-right: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 949px;
  }

  .u-section-1 .u-icon-3 {
    height: 29px;
    width: 29px;
    margin-top: 735px;
    margin-right: 684px;
  }

  .u-section-1 .u-icon-6 {
    height: 25px;
    width: 25px;
    margin-top: 286px;
    margin-left: 593px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 439px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -303px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 432px;
  }

  .u-section-1 .u-image-5 {
    margin-right: auto;
    margin-left: 432px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 13px;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 370px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 20px;
    margin-right: 370px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-10 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 26px;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 232px;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 436px;
  }

  .u-section-1 .u-btn-14 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-15 {
    margin-left: 48px;
  }

  .u-section-1 .u-btn-16 {
    margin-left: 247px;
  }

  .u-section-1 .u-btn-17 {
    margin-right: 188px;
  }

  .u-section-1 .u-btn-18 {
    margin-right: 0;
  }

  .u-section-1 .u-image-9 {
    margin-left: 803px;
  }

  .u-section-1 .u-btn-19 {
    margin-left: 30px;
  }

  .u-section-1 .u-btn-20 {
    margin-right: 365px;
  }

  .u-section-1 .u-btn-21 {
    margin-top: 20px;
    margin-right: 365px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-22 {
    margin-left: 628px;
  }

  .u-section-1 .u-btn-23 {
    margin-right: 590px;
  }

  .u-section-1 .u-btn-24 {
    margin-top: 20px;
    margin-right: 590px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-25 {
    margin-right: 167px;
  }

  .u-section-1 .u-btn-26 {
    margin-top: 20px;
    margin-right: 167px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-27 {
    margin-left: 26px;
  }

  .u-section-1 .u-btn-28 {
    margin-left: 259px;
  }

  .u-section-1 .u-btn-29 {
    margin-right: 186px;
  }

  .u-section-1 .u-btn-30 {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 25px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 612px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 631px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 20px;
    margin-right: 631px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 642px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 488px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -352px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -137px;
    margin-right: 367px;
    margin-left: auto;
  }

  .u-section-1 .u-image-5 {
    margin-right: 161px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 150px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: -37px;
    margin-right: auto;
    margin-left: 217px;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-12 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 216px;
  }

  .u-section-1 .u-btn-15 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-16 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-17 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-18 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-8 {
    margin-left: 583px;
  }

  .u-section-1 .u-image-9 {
    margin-top: 20px;
    margin-left: 583px;
  }

  .u-section-1 .u-btn-19 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-20 {
    margin-right: 145px;
  }

  .u-section-1 .u-btn-21 {
    margin-top: -37px;
    margin-right: auto;
    margin-left: 210px;
  }

  .u-section-1 .u-btn-22 {
    margin-left: 408px;
  }

  .u-section-1 .u-btn-23 {
    margin-right: 370px;
  }

  .u-section-1 .u-btn-24 {
    margin-top: -37px;
    margin-right: auto;
    margin-left: 19px;
  }

  .u-section-1 .u-btn-25 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-26 {
    margin-top: -37px;
    margin-right: auto;
    margin-left: 422px;
  }

  .u-section-1 .u-btn-27 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-28 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-29 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-30 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1027px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 522px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -1556px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 491px;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 491px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 502px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 495px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 41px;
    margin-top: 639px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -500px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 403px;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 37px;
  }

  .u-section-1 .u-btn-13 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-15 {
    margin-top: 47px;
  }

  .u-section-1 .u-btn-16 {
    margin-top: -97px;
  }

  .u-section-1 .u-btn-17 {
    margin-top: -33px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 67px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 403px;
  }

  .u-section-1 .u-image-8 {
    margin-top: 20px;
    margin-left: 403px;
  }

  .u-section-1 .u-image-9 {
    margin-left: 403px;
  }

  .u-section-1 .u-btn-20 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-21 {
    margin-left: 30px;
  }

  .u-section-1 .u-btn-22 {
    margin-left: 403px;
  }

  .u-section-1 .u-btn-23 {
    margin-right: 190px;
  }

  .u-section-1 .u-btn-24 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-26 {
    margin-left: 242px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1012px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 422px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -744px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 311px;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 311px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 302px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 295px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 26px;
    margin-top: 1110px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -956px;
    margin-left: 203px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 20px;
    margin-left: 203px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 203px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 20px;
    margin-right: 203px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    margin-left: 203px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 20px;
    margin-left: 203px;
  }

  .u-section-1 .u-image-8 {
    margin-left: 203px;
  }

  .u-section-1 .u-image-9 {
    margin-left: 203px;
  }

  .u-section-1 .u-btn-21 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-22 {
    margin-left: 203px;
  }

  .u-section-1 .u-btn-23 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-26 {
    margin-left: 42px;
  }
}